 body {
      font-family: "Segoe UI", Arial, sans-serif;
      background-color: #f8f8f8;
      margin: 0;
      padding: 0;
    }
	
	.top-bars {
	  width: 100%;
	  height: 30px;
      background: linear-gradient(to bottom, 
	  #8B0000 0px,  
      #8B0000 20px,    
      #003399 20px,    
      #003399 30px  );   
	}
	
	.site-header {
	  background-color: #fff;
	  border-bottom: 2px solid #666;
      padding: 10px 0;
	  position: sticky;
	  top: 0;
	  display: block;
	  object-fit: contain;
     }


    .nav-container {
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
    }

    .branding {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .branding img {
      height: 50px;
      width: auto;
    }

    .brand-text {
      font-size: 1.2em;
      font-weight: bold;
      position: relative;
      top: -2	px;
      color: #000;
      font-family: "Segoe UI", sans-serif;
    }

	
    .main-nav ul {
      list-style: none;
      display: flex;
      gap: 30px;
      margin: 0;
      padding: 0;
    }

    .main-nav a {
      text-decoration: none;
      color: #7b0013;
      font-weight: 600;
      font-size: 1em;
      transition: 0.3s;
      padding-bottom: 5px;
    }

    .main-nav a:hover {
      color: #003399;
      border-bottom: 2px solid #003399;
    }

    .main-nav a.active {
      color: #003399;
      border-bottom: 2px solid #003399;
    }

    .banner {
      position: relative;
      width: 100%;
      height: 150px;
      overflow: visible;
	  border: 2px solid
    }

    .banner img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      opacity: 0.55;
      display: block;
    }

    .banner-text {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -30%);
      font-size: 3.5em;
      font-weight: 1000;
      color: #FFFFFF;
      font-family: 'Cinzel Decorative', serif;
      text-align: center;
      letter-spacing: 2px;
      text-shadow:
        -1px -1px 0 #b48b23,
         1px -1px 0 #b48b23,
        -1px  1px 0 #b48b23,
         1px  1px 0 #b48b23,
         0 0 10px rgba(255, 215, 0, 0.5);
    }

    main {
      max-width: 1100px;
      margin: 3px auto;
      background-color: #fff;
      padding: 50px;
      border-radius: 12px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

    h1 {
      color: #003399;
      font-size: 2em;
      margin-bottom: 10px;
      text-align: center;
    }

    h2 {
      color: #023681;
      margin-top: 40px;
      font-family: 'Cinzel Decorative', serif;
    }

    p {
      color: #333;
      text-align: justify;
      line-height: 1.6;
    }

    footer {
      background-color: #7b0013;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 50px;
      font-size: 0.9em;
    }

    .map-gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      margin-top: 40px;		
    }

    .map-card {
      width: 45%;
      max-width: 500px;
      cursor: pointer;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .map-card img {
      width: 100%;
      display: block;
      transition: transform 0.3s ease;
    }

    .map-card:hover {
      transform: scale(1.03);
      box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    }

    .caption {
      text-align: center;
      padding: 10px;
      font-weight: bold;
      color: #003399;
      background-color: #f0f0f0;
	  position: static;
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 999;
      padding-top: 60px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.8);
    }

    .modal-content {
      margin: auto;
      display: block;
      max-width: 80%;
      max-height: 80%;
      border-radius: 10px;
    }

    .close {
      position: absolute;
      top: 30px;
      right: 50px;
      color: white;
      font-size: 40px;
      font-weight: bold;
      cursor: pointer;
    }

    #modal-caption {
      text-align: center;
      color: white;
      margin-top: 15px;
      font-size: 1.2em;
    }

    .map-legend {
      max-width: 600px;
      margin: 40px 0 40px 40px;
      background-color: #fff;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.08);
      text-align: left;
    }

    .map-legend h3 {
      color: #003399;
      margin-bottom: 20px;
      font-size: 1.5em;
      text-align: center;
    }

    .map-legend ul {
      list-style: none;
      padding: 0;
    }

    .map-legend li {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      font-size: 1em;
      color: #333;
    }

    .legend-box {
      width: 20px;
      height: 20px;
      margin-right: 12px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    .legend-box.mustard { background-color: #D4AF37; }
    .legend-box.blue { background-color: #007BFF; }
    .legend-box.red { background-color: #8B0000; }